div(class='instructions')
    div(class='border')
        p Can you guess the secret five-letter word in only six attempts? Start by writing your guess on the top line of spaces in the puzzle. Then, for each letter in your guess, find the value in the Guess Grid associated with the letter (row) and its position (column) in your guess. If this value shows up in the Clue Grid, a clue (Y or G) will let you know you're getting close! If your value from the Guess Grid doesn't appear in the Clue Grid, that means the letter you guessed doesn't appear anywhere in the secret word.
        ul
        li A <strong>Y</strong> ('Yellow') in the Clue Grid means the letter you guessed is in the secret word, but not in the position you guessed.
        li A <strong>G</strong> ('Green') in the Clue Grid means the letter you guessed is in that exact position in the secret word.
        p Draw a box around letters to mark them as 'green', and circle letters to mark them 'yellow'. Cross out letters you know aren't in the secret word. You can mark your letters in the guesses and in the keyboard below each puzzle.
        p 
          b Number of guesses to solve: 
          b  1: 
          | genius! |
          b  2: 
          | magnificent |
          b  3: 
          | impressive |
          b  4: 
          | splendid |
          b  5: 
          | great |
          b  6: 
          | whew
