div(class='instructions')
    div(class='border')
        p Write your guesses one at at time on the numbered lines for each puzzle. Then, after each guess, find the Guess Grid value associated with each letter (row) in your guess and their corresponding position (column) in the word. If this value shows up in the Clue Grid, a clue (Y or G) will let you know if you're close to the answer.

        ul
          li If the value from the Guess Grid doesn't appear in the Clue Grid, that means the letter you guessed <strong>doesn't appear</strong> anywhere in the secret word.
          li The letter <strong>Y ("Yellow")</strong> in the Clue Grid means the letter you guessed is <strong>present</strong> in the secret word, but not in the position you guessed.
          li The letter <strong>G ("Green") </strong> in the Clue Grid means the letter you guessed is in that <strong>exact position</strong> in the secret word.
        p You can keep track of which letters you've guessed by marking the alphabet keys in each game, as well as the letters in your guesses. <strong>Draw a box</strong> around your letters to mark them as green, and <strong>circle</strong> letters to mark them as yellow. <strong>Cross out</strong> letters that aren't in the secret word.
        p 
          b Number of guesses to solve: 
          b  1: 
          | genius! |
          b  2: 
          | magnificent |
          b  3: 
          | impressive |
          b  4: 
          | splendid |
          b  5: 
          | great |
          b  6: 
          | whew
